@font-face {
    font-family: 'echinosparkscript';
    src:url(../../../../fonts/echinosparkscript.EOT);
     src:url(../../../../fonts/echinosparkscript.ttf);
      src:url(../../../../fonts/echinosparkscript.svg);
       src:url(../../../../fonts/echinosparkscript.woff);


}

#contenedor {
	border-top:10px solid #930000;
	border-bottom: 10px solid #930000;
	width: 100%;
	height: 630px;
}

#logo{
	margin:15px 0px 0px 25px;
	width: 20%;
	height: 80px;
	border: 0px solid;
	display: inline-block;
	vertical-align: top;
}

#logo img{
	display: block;
	width: 250px;
	height: 77px;
}

#cont-menu{
	width: 75%;
	height: 80px;
	border: 0px solid;
	display: inline-block;
	vertical-align: top;

}
nav#menu{
	border:0px solid #f00;
	width: 600px;
	height: 32px;
	float: right;
	margin-top:23px;


}

nav#menu ul{
	padding: 0px;
	margin: 0px;



}
nav#menu ul li{
	border: 0px solid;
	height: 32px;
	display: inline-block;
	width: 23%;
	transition:0.5s all;
	
}
nav#menu ul li a{
	line-height: 32px;
	text-align: center;
	font-family: calibri,arial;
	font-size: 20px;
	color:#930000;
	text-decoration: none;
	display: block;
	transition:0.5s all;

}

nav#menu ul li:hover{
	background:#930000;
	transition:0.5s all;
}

nav#menu ul li a:hover{
	transition:0.7s all;
	color:#fff;
}


#contenido{
	background:url(../imagen/baner4.jpg) no-repeat;
	margin: 100px auto;
	width: 80%;
	height: 300px;
	border:5px solid #930000;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
	

}



#contenido h1{
	font-family: echinosparkscript;
	height: 20px;
	color:#930000;
	text-shadow: 2px 2px 2px rgba(0,0,0,5);
}

#servicios{
	padding: 10px 0px 0px 0px;
	border: 0px solid;
	border-radius: 0px 30px 30px 0px;
	background: #000;
	width:90%;
	height: 200px;
	background: rgba(0, 0, 0, 0.7);

}


#servicios p{
	
	color:#fff;
	
}