#contenedor {
	border-top:10px solid #930000;
	border-bottom: 10px solid #930000;
	width: 100%;
	height: 950px;
}

#logo{
	margin:15px 0px 0px 25px;
	width: 20%;
	height: 80px;
	border: 0px solid;
	display: inline-block;
	vertical-align: top;
}

#logo img{
	display: block;
	width: 250px;
	height: 77px;
}

#cont-menu{
	width: 75%;
	height: 80px;
	border: 0px solid;
	display: inline-block;
	vertical-align: top;

}
nav#menu{
	border:0px solid #f00;
	width: 600px;
	height: 32px;
	float: right;
	margin-top:23px;


}

nav#menu ul{
	padding: 0px;
	margin: 0px;



}
nav#menu ul li{
	border: 0px solid;
	height: 32px;
	display: inline-block;
	width: 23%;
	transition:0.5s all;
	
}
nav#menu ul li a{
	line-height: 32px;
	text-align: center;
	font-family: calibri,arial;
	font-size: 20px;
	color:#930000;
	text-decoration: none;
	display: block;
	transition:0.5s all;

}

nav#menu ul li:hover{
	background:#930000;
	transition:0.5s all;
}

nav#menu ul li a:hover{
	transition:0.7s all;
	color:#fff;
}


#paquetes{
 	border: 0px solid;
 	width: 100%;
 	min-height: 360px;
 	margin:0px auto;

 }

 #paquetes img{
 	border: 0px solid;
 	width: 100%;
 }

 

.previo{
	border:0px solid;
	margin: 0px 0px 0px 1.2%;
	width:23%;
	min-height: 150px;
	display: inline-block;
}

#abajo{
	width: 50%;
	margin:20px auto;
}

.previo1{

	margin:0px 0px 0px 4%;
	border: 0px solid;
	width:43%;
	height:150px;
	display: inline-block;
}



@media screen and (max-width: 900px) {

#logo{
	width: 100%;
	margin:0px;
}
#logo img{
	margin:0px auto;
}



#cont-menu{
	height: 35px;
	
	width: 100%;
}
nav#menu{
	margin: 0px auto;	
	float: none;
}


}


@media screen and (max-width: 700px){
	.previo{
		width: 45%;
	}
	#abajo{
		width: 100%;
		margin:5px 0px 0px 0px;

	}
	.previo1{
		width: 45%;
		margin:0px 0px 0px 5px;
	}

	#contenedor{
		height: 1200px;
	}

}


@media screen and (max-width: 600px){
	#contenedor{
		height: 1000px;
	}
	

}

@media screen and (max-width: 500px){
	.previo{
		width: 60%;
		margin: 0px 0px 0px 19%;
	}
	#contenedor{
		height: 1500px;
	}

	.previo1{
		width: 60%;
		margin: 0px 0px 0px 19%;
	}

}

@media screen and (max-width: 400px){
#contenedor{
		height: 1300px;
	}